<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom_style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
</head>

<body>
    <div class="center vertical-center">
        <h1>Job Search</h1>
        <div>
            <form class="searchTerm" action="/report" method="get" style="margin:auto;max-width:300px">
                <input placeholder='ex) python/go' required name="word" />
                <button onclick="srhClickFunction()"><i class="fa fa-search"></i></button>
            </form> 
        </div>
        <div id="loading" class="loader notshowing"></div>
    </div>

    <img src="./static/images/bg.jpg" class="bgImage" />

    <script>
        function srhClickFunction() {
            loadingElement = document.getElementById("loading");
            loadingElement.classList.remove("notshowing");
        }
    </script>
</body>
</html>